@model PizzaShop.Domain.ViewModels.EditUserModel

<div class=" user-box mt-4" id="main-content">
    <nav class="navbar w-90 navbar-light bg-light">
      <div class="h2 blue-color"><strong>Edit User</strong></div>
        <form class="form-inline">
            <div class="d-flex">
                <div>
                    <a href="@Url.Action("UserList")"
                        class="btn btn-outline-secondary bg-light my-sm-0 rounded blue-color">Back</a>
                </div>
            </div>
        </form>
    </nav>

    <div class="form-control" enctype="multipart/form-data">
        <form method="post" asp-action="EditUser" >
            <input type="hidden" asp-for="Id" />

            <div class="row my-4">
                <div class="col">
                    <input type="text" asp-for="FirstName" class="form-control" placeholder="First Name*" required>
                      <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col">
                    <input type="text" asp-for="LastName" class="form-control" placeholder="Last Name*" required>
                      <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <input type="text" asp-for="UserName" class="form-control" placeholder="User Name*" required>
                      <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="col">
                    <select asp-for="RoleId" class="form-select">
                       <option value="2">Account Manager</option>
                            <option value="1">Admin</option>
                            <option value="4">chef</option>
                            <option value="3">User</option> 
                            
                    </select>
                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email*" required>
                      <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class=" col ">
                        <select class="form-select add_user_input" asp-for="status"  aria-label="Default select example">
                            <option selected>@Model.status</option>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                        
                    </div>
            </div>

              <div class="upload-box w-100 mt-0 border border-secondary">
                    @if(Model.PathOfProfilePicture != null)
            {
                <img src="@Model.PathOfProfilePicture" alt="img" onclick="document.getElementById('profile-chooser').click()"
                    style="position: relative; top:-10px; height: 70px; left: 18px;">
            }
            else
            {
                <img src="~/images/Default_pfp.svg.png" alt="" onclick="document.getElementById('profile-chooser').click()"
                    style="position: relative; top:-30px; height: 90px; left: 18px;">
            }
            @* <h1>hello</h1> *@

            <input type="file" asp-for="ProfilePicture" class="form-control d-none" id="profile-chooser">
                </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <select asp-for="CountryID" id="countryDropdown" class="form-select">
                        <option value="">Select Country</option>
                        @if (Model.Countries != null)
                        {
                            @foreach (var country in Model.Countries)
                            {
                                <option value="@country.CountryId">@country.CountryName</option>
                            }
                        }
                    </select>

                </div>
                <div class="col-md-4">
                    <select asp-for="StateID" id="stateDropdown" class="form-select">
                        <option value="">Select State</option>
                        @if (Model.States != null)
                        {
                            @foreach (var state in Model.States)
                            {
                                <option value="@state.StateId">@state.StateName</option>
                            }
                        }
                    </select>

                </div>
                <div class="col-md-4">
                    <select asp-for="CityID" id="cityDropdown" class="form-select">
                        <option value="">Select City</option>
                        @if (Model.Cities != null)
                        {
                            @foreach (var city in Model.Cities)
                            {
                                <option value="@city.CityId">@city.CityName</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <input type="text" asp-for="Zipcode" class="form-control" placeholder="Zipcode*">
                      <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <input type="text" asp-for="Address" class="form-control" placeholder="Address*">
                      <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <input type="tel" asp-for="Phone" class="form-control" placeholder="Phone*">
                      <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn navbar-color text-white">Update User</button>
            <a href="@Url.Action("UserList")" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

<script>
 document.getElementById('profile-chooser').addEventListener('change', function () {
        var messageDiv = document.getElementById('image-selected-message');
        var file = this.files[0];
        var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.svg)$/i;
        if (!allowedExtensions.exec(file.name)) {
            alert('Please upload file having extensions .jpeg/.jpg/.png/.svg only.');
            this.value = '';
            messageDiv.classList.add('d-none');
            return false;
        }
        if (this.files && this.files.length > 0) {
            messageDiv.classList.remove('d-none');
            var fileName = this.files[0].name;
            messageDiv.textContent = fileName + ' is selected';
        } else {
            messageDiv.classList.add('d-none');
        }
    });

    document.getElementById("countryDropdown").addEventListener("change", function () {
        var countryId = this.value;
        var stateDropdown = document.getElementById("stateDropdown");
        var cityDropdown = document.getElementById("cityDropdown");

        stateDropdown.innerHTML = '<option value="">Select State</option>';
        cityDropdown.innerHTML = '<option value="">Select City</option>';

        if (countryId) {
            fetch('/User/GetStates?countryId=' + countryId)
                .then(response => response.json())
                .then(states => {
                    states.forEach(state => {
                        var option = document.createElement("option");
                        option.value = state.stateId;
                        option.textContent = state.stateName;
                        stateDropdown.appendChild(option);
                    });
                });
        }
    });

    document.getElementById("stateDropdown").addEventListener("change", function () {
        var stateId = this.value;
        var cityDropdown = document.getElementById("cityDropdown");

        cityDropdown.innerHTML = '<option value="">Select City</option>';

        if (stateId) {
            fetch('/User/GetCities?stateId=' + stateId)
                .then(response => response.json())
                .then(cities => {
                    cities.forEach(city => {
                        var option = document.createElement("option");
                        option.value = city.cityId;
                        option.textContent = city.cityName;
                        cityDropdown.appendChild(option);
                    });
                });
        }
    });
</script>